* {
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

body {
    background-image: url('./images/home-bg.jpg');
    background-size: cover;
}

.hidden {
    display: none;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    text-transform: uppercase;
    height: 14vh;
}

header .logo {
    font-size: 1.7rem;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

ul li a {
    margin-right: 2px;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 0.9rem;
}

ul li a.active {
    transition: 1s;
    background-color: grey;
    border-radius: 5px;
}

ul li a:hover {
    transition: 1s;
    background-color: #fff;
    border-radius: 5px;
    color: black;
}

.hamburger {
    position: absolute;
    right: 1.5rem;
    height: 15px;
    width: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
    border-radius: 10px;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.3s all;
}

@media (max-width:768px) {
    .hamburger {
        display: flex;
    }

    body {
        overflow-x: hidden;
        background-size: cover;
        background-position: top;
    }

    ul {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        flex-direction: column;
        top: 14vh;
        right: -100%;
        height: 86vh;
        width: 100%;
        align-items: center;
        transition: right 1s ease;
    }

    .menu-slide {
        right: 0%;
        transition: right 1s ease;
    }

    .cross .bar:nth-child(2) {
        opacity: 0;
    }

    .cross .bar:first-child {
        transform: rotate(-45deg) translate(-7px, 5px);
    }

    .cross .bar:last-child {
        transform: rotate(45deg) translate(-3px, -2px);
    }
}

.bg-about {
    background-image: url('./images/about-bg.jpg');
    background-size: cover;
}

.bg-skills {
    background-image: url('./images/skills-bg.jpg');
    background-size: cover;
}

.bg-services {
    background-image: url('./images/services-bg.jpg');
    background-size: cover;
}

.bg-projects {
    background-image: url('./images/projects-bg.jpg');
    background-size: cover;
}

.bg-contact {
    background-image: url('./images/contact-bg.jpg');
    background-size: cover;
}

section {
    text-align: center;
}